* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.navbar-nav .nav-link:hover {
  color: red !important;
}

.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.client-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.client-box:hover {
  transform: translateY(-5px);
  background-color: #f0f8ff;
}

.client-feedback {
  background-color: #f8f9fa;
}

.feedback-box {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.client-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.client-role {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.client-feedback {
  background: #f8f9fa;
}

.feedback-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.feedback-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.feedback-card:hover {
  transform: translateY(-5px);
}
